:root {
    --cor-primaria: #001C30;
    --cor-secundaria: #DAFFFB;
    --cor-terciaria: #64CCC5;

    --fonte-primaria: "Arial Rounded MT", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 3% 0% 0% 40%;
}

.cabecalho__menu {
    display: flex;
    justify-content: center;
    width: 30%;
}

.cabecalho__menu__link {
    font-family: var(--fonte-primaria);
    font-size: 1.8rem;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5.1rem;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--fonte-primaria);
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links__link {
    display: flex;
    justify-content: center;
    gap: 1rem;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-terciaria);
    font-family: var(--fonte-primaria);
}

.apresentacao__links__link:hover {
    background-color: #545B77;
}

.imagem__felipe {
    border-radius: 18.75rem;
    max-width: 37.5rem;
    max-height: 37.5rem;
    width: auto;
    height: auto;
}